* {
  box-sizing: border-box; }

button,
input[type="submit"] {
  border: 1px solid #1e4885;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #6d93ca;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #3569b5;
  background-image: linear-gradient(#3569b5, #204e92);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #163e79;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #4677bd;
    cursor: pointer;
    background-color: #335e9d;
    background-image: linear-gradient(#335e9d, #1e4884); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
  input[type="submit"]:focus:not(:disabled) {
    border: 1px solid #1e4885;
    box-shadow: inset 0 0 8px 4px #1c4177, inset 0 0 8px 4px #1c4177; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #3569b5;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:hover {
    color: #24477a; }
  a:active, a:focus {
    color: #24477a;
    outline: thin dashed #24477a; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #DDD;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  box-sizing: border-box;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #3569b5;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(47, 94, 161, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  article .content ul {
    list-style-type: disc;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
  article .content ol {
    list-style-type: decimal;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }

dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

#skiptocontent a {
  padding: 10px;
  position: absolute;
  top: -100px;
  left: 0px;
  color: white;
  background: black; }
  #skiptocontent a:focus {
    left: 0px;
    top: 0px; }

body {
  margin: 0;
  width: 100%; }
  body > header {
    text-align: center;
    overflow: auto; }
    body > header a {
      color: black; }
    @media screen and (min-width: 50em) {
      body > header {
        max-width: 68em;
        margin-left: auto;
        margin-right: auto;
        margin: 2em auto 0 auto;
        text-align: left; }
        body > header:after {
          content: "";
          display: table;
          clear: both; }
        body > header h1 {
          padding: 0em 0.3em;
          line-height: 70px;
          text-align: left; } }
    body > header:after {
      content: '';
      display: block;
      margin: 1em auto 0 auto;
      padding: 1em 0 0 0;
      background-image: url(/resource/colourful.png);
      background-size: cover;
      clear: both; }
    body > header h1 {
      background-color: white;
      display: inline; }
      body > header h1 > a:before {
        content: '';
        display: block;
        margin: 0 auto;
        height: 70px;
        width: 70px;
        background-size: auto 70px;
        background-image: url(/resource/icon-bw.png);
        background-position: left center;
        background-repeat: no-repeat; }
        @media screen and (min-width: 50em) {
          body > header h1 > a:before {
            vertical-align: top;
            margin: 0;
            display: inline-block; } }
    body > header > a {
      height: 40px;
      margin-top: 15px;
      margin-right: 20px;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden; }
      @media screen and (min-width: 50em) {
        body > header > a {
          float: right; } }

.sidebar li {
  margin-left: 5em; }
  .sidebar li li {
    font-size: 90%;
    margin-left: 1em; }

@media screen and (min-width: 106.25em) {
  .sidebar {
    width: 68em;
    margin: 1em auto;
    white-space: nowrap;
    overflow: visible;
    height: 0; }
    .sidebar nav {
      position: relative;
      left: 68em;
      top: 1em;
      width: 0; } }

@media screen and (min-width: 50em) and (max-width: 106.25em) {
  .sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 68.23843%; }
    .sidebar:last-child {
      margin-right: 0; } }

@media screen and (max-width: 50em) {
  .sidebar {
    width: 100%; }
    .sidebar nav > ul > li {
      float: left; }
      .sidebar nav > ul > li > a::after {
        content: ">";
        color: black;
        margin: 0 0 0 0.3em; }
    .sidebar nav li {
      margin-left: 1em; }
      .sidebar nav li ul {
        margin-left: 1em;
        list-style-type: disc;
        float: right; }
      .sidebar nav li li {
        float: left;
        margin-right: 0.7em; } }

@media screen and (min-width: 50em) and (max-width: 106.25em) {
  .outer {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em; }
    .outer:after {
      content: "";
      display: table;
      clear: both; } }

@media screen and (max-width: 50em) {
  .outer {
    padding: 0.2em; } }

@media screen and (min-width: 106.25em) {
  main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    main:after {
      content: "";
      display: table;
      clear: both; } }

@media screen and (min-width: 50em) and (max-width: 106.25em) {
  main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: -102.35765%; }
    main:last-child {
      margin-right: 0; } }

@media screen and (max-width: 50em) {
  main {
    clear: both; } }

article {
  margin-top: 1em;
  overflow: auto; }
  article > header {
    clear: left;
    text-align: left;
    color: black; }
    article > header .categories {
      float: left;
      margin-left: 0.1em; }
    article > header aside {
      float: right;
      margin-right: 0.1em; }
    article > header::after {
      content: ".";
      color: white;
      display: block;
      width: 100%;
      height: 10px;
      background-size: cover;
      background-image: url(/resource/colourful.png);
      clear: left; }
    article > header h1 a {
      color: black; }
  article .content {
    color: black;
    margin-top: 0.3em; }
    article .content a {
      text-decoration: underline; }
    article .content img.icon {
      float: right;
      margin-top: 0.2em; }
    article .content pre > code {
      display: block; }
    article .content code {
      background-color: #F0F0F0;
      padding: 0.5em;
      border-radius: 5px;
      color: #6153CC;
      font: monospace; }

footer {
  text-align: center;
  padding: 1em; }

.about {
  width: 33px; }
  .about:before {
    content: '';
    display: inline-block;
    height: 40px;
    width: 33px;
    background-image: url(/resource/logos-dark.png);
    background-size: auto 40px;
    background-position: 0 0;
    background-repeat: no-repeat; }

.twitter {
  width: 48px; }
  .twitter:before {
    content: '';
    display: inline-block;
    height: 40px;
    width: 48px;
    background-image: url(/resource/logos-dark.png);
    background-size: auto 40px;
    background-position: -34px 0;
    background-repeat: no-repeat; }

.github {
  width: 43px; }
  .github:before {
    content: '';
    display: inline-block;
    height: 40px;
    width: 43px;
    background-image: url(/resource/logos-dark.png);
    background-size: auto 40px;
    background-position: -82px 0;
    background-repeat: no-repeat; }

.bitbucket {
  width: 35px; }
  .bitbucket:before {
    content: '';
    display: inline-block;
    height: 40px;
    width: 35px;
    background-image: url(/resource/logos-dark.png);
    background-size: auto 40px;
    background-position: -124px 0;
    background-repeat: no-repeat; }
